<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posty Feed</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-900">
    <div class="w-full p-10  h-full text-[#dedede]  bg-gray-900 ">
    <div class="all_post mt-10 w-full flex justify-center items-center flex-col">
        <h1 class="text-4xl">All post feed</h1>
        
        <div class="post_container flex flex-wrap w-full justify-center items-center gap-5 mt-5">
          <% allpost.reverse().forEach((post)=>{ %>
            <div class="post border-1 flex flex-col gap-3 bg-zinc-800 rounded-2xl border-zinc-600 w-[70%] p-5">
            <div class="flex justify-between">
            <h1 class="text-xl text-blue-600">By <%= post.user.username%></h1>
              <div>
                <a href="/edit/<%= post._id %>" class="text-zinc-500">Edit</a>
              </div>
            </div>
            <p><%= post.content%></p>
            <div class="flex gap-5">
              <div class="flex gap-5">
                <div>
                  <a href="/like/<%= post._id %>"  class="text-blue-500"><%= post.like.indexOf(post.user._id) === -1 ? "Like" : "Unlike" %></a>
                  <span><%= post.like.length %></span>
                </div>
              </div>
          
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
</body>
</html>